<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MeetingpubMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.Meetingpub" >
    <id column="id" property="id" jdbcType="TINYINT" />
    <result column="pcode" property="pcode" jdbcType="VARCHAR" />
    <result column="ptime" property="ptime" jdbcType="TIMESTAMP" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="ptitle" property="ptitle" jdbcType="VARCHAR" />
    <result column="zone" property="zone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="uid" property="uid" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pcode, ptime, tname, ptitle, zone, remark, createdate, status, uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from meetingpub
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from meetingpub
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.example.pojo.Meetingpub" >
    insert into meetingpub (id, pcode, ptime, 
      tname, ptitle, zone, 
      remark, createdate, status, 
      uid)
    values (#{id,jdbcType=TINYINT}, #{pcode,jdbcType=VARCHAR}, #{ptime,jdbcType=TIMESTAMP}, 
      #{tname,jdbcType=VARCHAR}, #{ptitle,jdbcType=VARCHAR}, #{zone,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, 
      #{uid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.Meetingpub" >
    insert into meetingpub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pcode != null" >
        pcode,
      </if>
      <if test="ptime != null" >
        ptime,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="ptitle != null" >
        ptitle,
      </if>
      <if test="zone != null" >
        zone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=TINYINT},
      </if>
      <if test="pcode != null" >
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null" >
        #{ptime,jdbcType=TIMESTAMP},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="ptitle != null" >
        #{ptitle,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.Meetingpub" >
    update meetingpub
    <set >
      <if test="pcode != null" >
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null" >
        ptime = #{ptime,jdbcType=TIMESTAMP},
      </if>
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="ptitle != null" >
        ptitle = #{ptitle,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pojo.Meetingpub" >
    update meetingpub
    set pcode = #{pcode,jdbcType=VARCHAR},
      ptime = #{ptime,jdbcType=TIMESTAMP},
      tname = #{tname,jdbcType=VARCHAR},
      ptitle = #{ptitle,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT},
      uid = #{uid,jdbcType=TINYINT}
    where id = #{id,jdbcType=TINYINT}
  </update>
</mapper>